<%= form_tag search_friend_path, method: :get, remote: true do %>
	<div class="form-group">
		<div class="row">
			<div class="input-group mb-3">
				<%= text_field_tag :friend, params[:friend], placeholder: 'Search friends', autofocus: true, class: 'form-control form-control-lg', 'max-length': '1024' %>

				<div class="input-group-append">
					<%= button_tag type: :submit, class: 'btn btn-outline-primary', id: "searchFriendButton" do %>
						<i class="fas fa-search-dollar fa-lg"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div id="searchFriendResults"></div>
<% end %>

<div id="listFriends">
<% unless @friends.empty? %>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Username</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody id="friendList">
			<% @friends.each do |friend| %>
				<%= render 'friend_info', friend: friend %>
			<% end %>
		</tbody>
	</table>
<% else %>
	You have no friends
<% end %>

</div>
