<%# TODO Integrate messages %>
<div class="results-block">
</div>
<% unless @tracked_stocks.empty? %>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Symbol</th>
				<th scope="col">Name</th>
				<th scope="col">Last Price</th>
			</tr>
		</thead>
		<tbody>
			<% @tracked_stocks.each do |stock| %>
				<tr>
					<td><%= stock.ticker%></td>
					<td><%= stock.name %></td>
					<td><%= stock.last_price %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
