.navbar-custom-dark {
	background-color: #222 ;
	margin-bottom: 20px ;
}

.navbar-toggler-icon {
	color: #fff ;
	background: image-url('menu-button.svg') center no-repeat ;
	background-size: cover ;
}

.bg-custom-lite {
	& a.nav-link {
		color: #fff ;
		display: inline-block ;
		transition: all 0.125s ease ;
		position: relative ;
		cursor: pointer ;

		&::before {
			content: '' ;
			display: inline-block ;
			position: absolute ;
			bottom: 0 ;
			left: -50% ;
			height: 2px ;
			width: 100% ;
			transform: scaleX(0) ;
			background-color: #fff ;
			transition: inherit ;
		}

		&:hover, & .active {
			&::before {
				transform: scaleX(1) ;
				left: 0 ;
			}
		}
	}

	& li.nav-item.active a {
		color: #82C91E ;

		&::before {
			transform: scaleX(1) ;
			left: 0 ;
		}
	}

	& a.dropdown-item {
		color: #222 ;
		transition: all 0.125s ease ;

		&:hover {
			color: #fff ;
			background-color: #6435C9 ;
		}
	}
}
